<h1>{{ title }}</h1>
{{#each list}}
<div>
    <a href="/bills/{{this.id}}">grupe</a>
    <p>{{this.group_id_accounts}}</p>
    <p>{{this.name}}</p>
</div>
{{/each}}
<h3>Pridėti naują grupę</h3>
<form action="/api/accounts" method="post">
<input type="number" name="group_id" min="0">
<input type="submit" value="Pridėti grupę">
</form>