<h1>{{ title }}</h1>
<form action="/api/login" method="post">
    <label for="email">El. paštas</label>
    <input type="email" name="email" id="email">
    <label for="password">Slaptažodis</label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Prisijungti">
</form>