<h1>{{ title }}</h1>
<form action="/api/register" method="post">
    <label for="full_name">Vartotojo vardas</label>
    <input type="text" name="full_name" id="full_name">
    <label for="email">El. paštas</label>
    <input type="email" name="email" id="email">
    <label for="password">Slaptažodis</label>
    <input type="password" name="password" id="password">
    <label for="password_repeat">Pakartokite slaptažodį</label>
    <input type="password" name="password_repeat" id="password_repeat">
    <input type="submit" value="Registruotis">
</form>