<div class="center">
    <h1>{{ title }}</h1>
    <form action="/api/register" method="post">
        <label for="full_name">Vartotojo vardas</label>
        <input type="text" name="full_name" id="full_name"><br>
        <label for="email">El. paštas</label>
        <input type="email" name="email" id="email"><br>
        <label for="password">Slaptažodis</label>
        <input type="password" name="password" id="password"><br>
        <label for="password_repeat">Pakartokite slaptažodį</label>
        <input type="password" name="password_repeat" id="password_repeat"><br>
        <input type="submit" value="Registruotis">
    </form>
    <p>Jau turite paskyrą? <a href="/login">Prisijunkite</a></p>
</div>